In [2]:
! pip install autoscraper

In [11]:
from autoscraper import AutoScraper

In [30]:
flipkart_url = "https://www.flipkart.com/search?q=iphones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
wanted_list = ["APPLE iPhone SE (Red, 128 GB)","₹34,999","4.51,47,123 Ratings & 11,561 Reviews"]

In [31]:
scraper = AutoScraper()
result = scraper.build(flipkart_url, wanted_list)

In [32]:
print(result)

['APPLE iPhone SE (Red, 128 GB)', 'APPLE iPhone 13 (Midnight, 128 GB)', 'APPLE iPhone 13 (Starlight, 128 GB)', 'APPLE iPhone 13 (Blue, 128 GB)', 'APPLE iPhone SE (Red, 64 GB)', 'APPLE iPhone 12 Mini (Blue, 256 GB)', 'APPLE iPhone 12 Mini (Black, 256 GB)', 'APPLE iPhone 12 Mini (Purple, 256 GB)', 'APPLE iPhone 13 (Green, 128 GB)', 'APPLE iPhone SE (White, 64 GB)', 'APPLE iPhone 11 (Green, 64 GB)', 'APPLE iPhone SE (Black, 128 GB)', 'APPLE iPhone 12 Mini (Blue, 64 GB)', 'APPLE iPhone SE (White, 128 GB)', 'APPLE iPhone 13 (Midnight, 256 GB)', 'APPLE iPhone 11 (White, 128 GB)', 'APPLE iPhone 12 Mini (Green, 64 GB)', 'APPLE iPhone 12 Mini (Red, 256 GB)', 'APPLE iPhone 12 (Purple, 128 GB)', 'APPLE iPhone 11 (Red, 128 GB)', 'APPLE iPhone 12 Mini (Black, 64 GB)', 'APPLE iPhone 13 ((PRODUCT)RED, 256 GB)', 'APPLE iPhone 11 (Green, 128 GB)', 'APPLE iPhone 13 Mini (Midnight, 128 GB)', '₹34,999', '₹74,900', '₹30,299', '₹65,299', '₹49,900', '₹49,999', '₹84,900', '₹54,900', '₹65,071', '₹64,900', '4.51,47,123 Ratings & 11,561 Reviews', '4.62,825 Ratings & 322 Reviews', '4.594,599 Ratings & 7,709 Reviews', '4.678,397 Ratings & 5,906 Reviews', '4.61,65,941 Ratings & 11,386 Reviews', '4.6406 Ratings & 39 Reviews']

In [33]:
scraper.get_result_similar(flipkart_url, grouped=True)

{'rule_gq2r': ['APPLE iPhone SE (Red, 128 GB)',
  'APPLE iPhone 13 (Midnight, 128 GB)',
  'APPLE iPhone 13 (Starlight, 128 GB)',
  'APPLE iPhone 13 (Blue, 128 GB)',
  'APPLE iPhone SE (Red, 64 GB)',
  'APPLE iPhone 12 Mini (Blue, 256 GB)',
  'APPLE iPhone 12 Mini (Black, 256 GB)',
  'APPLE iPhone 12 Mini (Purple, 256 GB)',
  'APPLE iPhone 13 (Green, 128 GB)',
  'APPLE iPhone SE (White, 64 GB)',
  'APPLE iPhone 11 (Green, 64 GB)',
  'APPLE iPhone SE (Black, 128 GB)',
  'APPLE iPhone 12 Mini (Blue, 64 GB)',
  'APPLE iPhone SE (White, 128 GB)',
  'APPLE iPhone 13 (Midnight, 256 GB)',
  'APPLE iPhone 11 (White, 128 GB)',
  'APPLE iPhone 12 Mini (Green, 64 GB)',
  'APPLE iPhone 12 Mini (Red, 256 GB)',
  'APPLE iPhone 12 (Purple, 128 GB)',
  'APPLE iPhone 11 (Red, 128 GB)',
  'APPLE iPhone 12 Mini (Black, 64 GB)',
  'APPLE iPhone 13 ((PRODUCT)RED, 256 GB)',
  'APPLE iPhone 11 (Green, 128 GB)',
  'APPLE iPhone 13 Mini (Midnight, 128 GB)'],
 'rule_tt00': ['APPLE iPhone SE (Red, 128 GB)',
  'APPLE iPhone 13 (Midnight, 128 GB)',
  'APPLE iPhone 13 (Starlight, 128 GB)',
  'APPLE iPhone 13 (Blue, 128 GB)',
  'APPLE iPhone SE (Red, 64 GB)',
  'APPLE iPhone 12 Mini (Blue, 256 GB)',
  'APPLE iPhone 12 Mini (Black, 256 GB)',
  'APPLE iPhone 12 Mini (Purple, 256 GB)',
  'APPLE iPhone 13 (Green, 128 GB)',
  'APPLE iPhone SE (White, 64 GB)',
  'APPLE iPhone 11 (Green, 64 GB)',
  'APPLE iPhone SE (Black, 128 GB)',
  'APPLE iPhone 12 Mini (Blue, 64 GB)',
  'APPLE iPhone SE (White, 128 GB)',
  'APPLE iPhone 13 (Midnight, 256 GB)',
  'APPLE iPhone 11 (White, 128 GB)',
  'APPLE iPhone 12 Mini (Green, 64 GB)',
  'APPLE iPhone 12 Mini (Red, 256 GB)',
  'APPLE iPhone 12 (Purple, 128 GB)',
  'APPLE iPhone 11 (Red, 128 GB)',
  'APPLE iPhone 12 Mini (Black, 64 GB)',
  'APPLE iPhone 13 ((PRODUCT)RED, 256 GB)',
  'APPLE iPhone 11 (Green, 128 GB)',
  'APPLE iPhone 13 Mini (Midnight, 128 GB)'],
 'rule_vsim': ['₹34,999',
  '₹74,900',
  '₹74,900',
  '₹74,900',
  '₹30,299',
  '₹65,299',
  '₹65,299',
  '₹65,299',
  '₹74,900',
  '₹30,299',
  '₹49,900',
  '₹34,999',
  '₹49,999',
  '₹34,999',
  '₹84,900',
  '₹54,900',
  '₹49,999',
  '₹65,299',
  '₹65,071',
  '₹54,900',
  '₹49,999',
  '₹84,900',
  '₹54,900',
  '₹64,900'],
 'rule_tbv0': ['₹34,999',
  '₹74,900',
  '₹74,900',
  '₹74,900',
  '₹30,299',
  '₹65,299',
  '₹65,299',
  '₹65,299',
  '₹74,900',
  '₹30,299',
  '₹49,900',
  '₹34,999',
  '₹49,999',
  '₹34,999',
  '₹84,900',
  '₹54,900',
  '₹49,999',
  '₹65,299',
  '₹65,071',
  '₹54,900',
  '₹49,999',
  '₹84,900',
  '₹54,900',
  '₹64,900'],
 'rule_epeg': ['₹34,999',
  '₹74,900',
  '₹74,900',
  '₹74,900',
  '₹30,299',
  '₹65,299',
  '₹65,299',
  '₹65,299',
  '₹74,900',
  '₹30,299',
  '₹49,900',
  '₹34,999',
  '₹49,999',
  '₹34,999',
  '₹84,900',
  '₹54,900',
  '₹49,999',
  '₹65,299',
  '₹65,071',
  '₹54,900',
  '₹49,999',
  '₹84,900',
  '₹54,900',
  '₹64,900'],
 'rule_hasd': ['4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.61,65,941 Ratings & 11,386 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.6406 Ratings & 39 Reviews'],
 'rule_gb04': ['4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.61,65,941 Ratings & 11,386 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.6406 Ratings & 39 Reviews'],
 'rule_e881': ['4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.61,65,941 Ratings & 11,386 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.6406 Ratings & 39 Reviews'],
 'rule_3ot7': ['4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.61,65,941 Ratings & 11,386 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.6406 Ratings & 39 Reviews'],
 'rule_wrli': ['4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.51,47,123 Ratings & 11,561 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.61,65,941 Ratings & 11,386 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.594,599 Ratings & 7,709 Reviews',
  '4.62,825 Ratings & 322 Reviews',
  '4.678,397 Ratings & 5,906 Reviews',
  '4.6406 Ratings & 39 Reviews']}

In [35]:
scraper.set_rule_aliases({"rule_gq2r":"Title","rule_vsim":"Price"})
scraper.keep_rules(["rule_gq2r","rule_vsim"])
scraper.save("flipkart_search")

In [38]:
samsung = scraper.get_result_similar("https://www.flipkart.com/search?q=samsung&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off", group_by_alias=True)

In [39]:
print(samsung)

{'Title': ['SAMSUNG Galaxy F12 (Sky Blue, 64 GB)', 'SAMSUNG Galaxy F12 (Sea Green, 64 GB)', 'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)', 'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)', 'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)', 'SAMSUNG Galaxy M12 (Blue, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Black, 128 GB)', 'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)', 'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)', 'SAMSUNG Galaxy F12 (Sea Green, 128 GB)', 'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Black, 64 GB)', 'SAMSUNG Galaxy M12 (Black, 128 GB)', 'SAMSUNG Galaxy M12 (Black, 64 GB)', 'SAMSUNG Galaxy A52 (Awesome Blue, 128 GB)', 'SAMSUNG M21 2021 Edition (Arctic blue, 64 GB)', 'SAMSUNG Galaxy M12 (Blue, 64 GB)', 'SAMSUNG Guru Music 2 SM-B315E', 'SAMSUNG Galaxy M12 (White, 128 GB)', 'SAMSUNG GURU MUSIC 2', 'SAMSUNG M32 5G (Slate Black, 128 GB)', 'SAMSUNG Galaxy M32 5G (Sky Blue, 128 GB)'], 'Price': ['₹11,499', '₹11,499', '₹16,999', '₹16,999', '₹11,499', '₹12,485', '₹14,999', '₹14,999', '₹15,999', '₹12,999', '₹15,999', '₹12,499', '₹12,499', '₹12,999', '₹12,450', '₹10,469', '₹25,990', '₹12,772', '₹10,549', '₹2,020', '₹12,547', '₹2,020', '₹17,799', '₹20,350']}

In [40]:
import pandas as pd
import numpy as np

In [46]:
df = pd.DataFrame(samsung, columns=["Title", "Price"])

In [47]:
df

                                            Title    Price
0            SAMSUNG Galaxy F12 (Sky Blue, 64 GB)  ₹11,499
1           SAMSUNG Galaxy F12 (Sea Green, 64 GB)  ₹11,499
2       SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)  ₹16,999
3    SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)  ₹16,999
4     SAMSUNG Galaxy F12 (Celestial Black, 64 GB)  ₹11,499
5               SAMSUNG Galaxy M12 (Blue, 128 GB)  ₹12,485
6         SAMSUNG Galaxy F22 (Denim Blue, 128 GB)  ₹14,999
7        SAMSUNG Galaxy F22 (Denim Black, 128 GB)  ₹14,999
8    SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)  ₹15,999
9          SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  ₹12,999
10      SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)  ₹15,999
11         SAMSUNG Galaxy F12 (Sea Green, 128 GB)  ₹12,499
12          SAMSUNG Galaxy F12 (Sky Blue, 128 GB)  ₹12,499
13        SAMSUNG Galaxy F22 (Denim Black, 64 GB)  ₹12,999
14             SAMSUNG Galaxy M12 (Black, 128 GB)  ₹12,450
15              SAMSUNG Galaxy M12 (Black, 64 GB)  ₹10,469
16      SAMSUNG Galaxy A52 (Awesome Blue, 128 GB)  ₹25,990
17  SAMSUNG M21 2021 Edition (Arctic blue, 64 GB)  ₹12,772
18               SAMSUNG Galaxy M12 (Blue, 64 GB)  ₹10,549
19                  SAMSUNG Guru Music 2 SM-B315E   ₹2,020
20             SAMSUNG Galaxy M12 (White, 128 GB)  ₹12,547
21                           SAMSUNG GURU MUSIC 2   ₹2,020
22           SAMSUNG M32 5G (Slate Black, 128 GB)  ₹17,799
23       SAMSUNG Galaxy M32 5G (Sky Blue, 128 GB)  ₹20,350